.confirmation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
}

.confirmation-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmation-header {
  color: #33e5bc
}

.confirmation-item {
  margin-bottom: 30px;
}

.back-btn {
  border: 0;
  background-color: #33B5E5;
  padding: 10px 15px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}
