.product-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1024px;
  margin-bottom: 64px;
}

.product-container {
  display: flex;
  justify-content: center;
}

.item {
  text-align: center;
  margin: 24px 0;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 8px;
}

.item-title {
  color: #33B5E5;
  font-size: 20px;
}

.item-price {
  color: #5a5a5a;
  font-size: 16px;
}

.item-input {
  padding: 10px 5px;
  text-align: center;
  width: 70px;
}

.add-btn {
  border: 0;
  background-color: #33B5E5;
  padding: 10px 15px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}
