<div class="detail-container">
  <div class="item">
    <img class="item-img" src="{{product.url}}" width="240px">
    <div class="item-detail">
      <h2 class="item-title">{{product.name}}</h2>
      <h3 class="item-price">${{product.price}}</h3>
      <p class="item-desc">{{product.description}}</p>
      <div><input class="item-input" type="number" min="1" placeholder="quantity" [(ngModel)]="product.quantity"></div>
      <button type="button" class="add-btn" (click)="addToCart(product)">Add to Cart</button>
      <a routerLink="/" class="back-link">Back to product list</a>
    </div>
  </div>
</div>
